<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="center-align">BLOCBUSTER TV</h1>
  <div class="row">
    <% @tv_shows.each_with_index do |tv_show, index| %>
    <div class="col s12 m6 l4">
      <div class="card medium black white-text hoverable">
        <div class="card-image">
          <div class="img-fade">
            <img src="https://image.tmdb.org/t/p/w500<%= tv_show["backdrop_path"] %>">
          </div>
          <span class="card-title"><%= tv_show["name"] %></span>
        </div>
        <div class="overview-text hub">
          <%= tv_show["overview"][0..300] + '...' %>
          <%= link_to 'MORE', view_it_tv_show_path(tv_show["id"]) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
